[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "2.0.3"
requests = "2.27.0"
gunicorn = "*"
cs50 = "*"

[dev-packages]

[requires]
python_version = "3.8"
